<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Nox Database</title>
</head>

<body>
    <input type="text" id="username">
    <input type="password" id="password">
    <button id="loginButton">Login</button>




    <script>
        document.getElementById("loginButton").addEventListener("click", () => {
            var username = document.getElementById("username").value
            var password = document.getElementById("password").value
            postData("https://192.168.2.180:3001/loginReq/", {"username" : username, "password": password}).then((data) => {
            
                console.log(data)
                if(data.success) {
                    window.location.href = "https://192.168.2.180:3001/" + data.loginID
                }else {
                    console.log(data.message)
                }
                
            })
            
        })


        async function postData(url = "", data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: "POST", 
                mode: "cors", 
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: "follow", 
                referrerPolicy: "no-referrer",
                body: JSON.stringify(data),
            });
            return response.json();
        }

    </script>




</body>



</html>